body{
  background-color: #343a40;
}
body, html {
  height: 100%;
}
.board-grid-container {
  display: grid;
  background-color: #020204;
  width: fit-content;
  height: fit-content;
}
.board-grid-item {
  border: 1px solid #009a2160;
  width: fit-content;
  height: fit-content;
}

canvas {
  background-color: #020204;
}
canvas:hover {
  background-color: #c7ccc575;
}

.input {
  width: 90px;
}

button {
  border-radius: 0 !important;
  margin: 1rem !important;
}


