.board-grid-container {
  display: grid;
  background-color: white;
  width: fit-content;
  height: fit-content;
}
.board-grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  width: fit-content;
  height: fit-content;
}

canvas {
  background-color: white;
}
canvas:hover {
  background-color: #2196f3;
}
